<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- EDM File System-->
    <add key="EDM.FileSystemDirectory" value="C:/EDM" />
    <!-- EDM FTP -->
    <add key="EDM.FTPServer" value="www.easylob.com" />
    <add key="EDM.FTPPort" value="21" />
    <add key="EDM.FTPUser" value="user" />
    <add key="EDM.FTPPassword" value="password" />
    <add key="EDM.FTPRoot" value="EDM" />
    <!-- MongoDB -->
    <add key="MongoDB.Chinook.Url" value="mongodb://localhost" />
    <add key="MongoDB.Chinook.Database" value="Chinook" />
    <add key="MongoDB.Sequence.Url" value="mongodb://localhost" />
    <add key="MongoDB.Sequence.Database" value="Chinook" />
    <!-- RavenDB -->
    <add key="RavenDB.Chinook.Url" value="http://localhost:8080" />
    <add key="RavenDB.Chinook.Database" value="Chinook" />
    <!-- Redis -->
    <add key="Redis.Chinook" value="localhost" />
  </appSettings>
  <connectionStrings>
    <!-- MySQL
    <add name="Chinook" connectionString="Data Source=localhost;Database=chinook;User ID=root;Password=P@ssw0rd" providerName="MySql.Data.MySqlClient" />
    <add name="Security" connectionString="Data Source=localhost;Database=securityidentity;User ID=root;Password=P@ssw0rd" providerName="MySql.Data.MySqlClient" />
    -->
    <!-- SQL Server -->
    <add name="AdventureWorks2014" connectionString="Data Source=.;Initial Catalog=AdventureWorks2014;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />    
    <add name="AdventureWorksLT2008R2" connectionString="Data Source=.;Initial Catalog=AdventureWorksLT2008R2;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="Chinook" connectionString="Data Source=.;Initial Catalog=Chinook;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="Northwind" connectionString="Data Source=.;Initial Catalog=Northwind;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="Security" connectionString="Data Source=.;Initial Catalog=SecurityIdentity;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.2.0" newVersion="11.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>